/* .fixed-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  background-color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
} */

.header {
  border-bottom: #333;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 1200px;
  max-width: calc(100%-30px);
  margin: 0 auto;
}

.container {
  width: 1200px;
  max-width: calc(100% - 150px);
  margin: 0 auto;
}

.header .header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header .header_inner_left {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header .logo .logo_img {
  width: 40px;
  height: auto;
  margin-right: 10px;
  background-color: black;
}

.header .logo p {
  margin: 0;
  color: #333;
  font-size: 24px; /* Điều chỉnh kích thước chữ nếu cần */
}

.header .nav_bar {
  margin-left: 30px;
}

.header .navbar_list {
  list-style: none;
  display: flex;
}

.header .navbar_item {
  margin-right: 20px;
}

.header .navbar_link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 900;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.header .navbar_link:hover {
  background-color: #fed700;
}

.header .format {
  display: flex;
  align-items: center;
}

.header .search {
  position: relative;
  margin-right: 20px;
}

.header .search input[type="text"] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding-right: 30px;
}

.header .search .fa-magnifying-glass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.header .top_cart {
  margin-right: 20px;
}

.header .cart_icon {
  width: 24px;
  height: auto;
}

.header .signin {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height:76px;
}

.header .signin:hover {
  cursor: pointer;
}

.header .avatar_icon {
  width: 30px;
  height: auto;
  margin-bottom: 5px;
}

.header .account_text {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

