.signin  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.signin .login-form h1 {
    font-size: 20px;
    margin: 0 0 12px 0;
    text-align: center;
}

.signin .form-group {
    margin-bottom: 12px;
}

.signin .form-group label {
    display: none;
}

.signin .form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.signin .forgot-password {
    display: block;
    text-align: center;
    margin: 12px 0 20px 0;
    color: #007BFF;
    text-decoration: none;
}

.signin .forgot-password:hover {
    text-decoration: underline;
}

.signin button {
    width: 100%;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    height: 18px;
}

.signin button:hover {
    background-color: #333;
}

.signin .register-prompt {
    text-align: center;
    margin-top: 20px;
}

.signin .register-prompt p {
    margin: 0 0 12px 0;
    font-size: 16px;
}

.signin .register-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
}

.signin .register-button:hover {
    background-color: #333;
}
