/* General Styles */
.product * {
    box-sizing: border-box;
  }
.product{
  margin-top:10px;
}
  
  .product html {
    font-size: 62.5%;
  }
  
  .product body {
    font-size: 1.6rem;
    font-family: "Sarabun", sans-serif;
    background-color: #fff;
  }
  
  .product .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    width: 1200px;
    max-width: calc(100% - 40px);
  }
  
  .product .product-list-item {
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product .product-list-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .product .product-list-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .product .product-list-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product .product-content {
    padding: 10px;
  }
  
  .product .product-content a {
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .product .product-content a:hover {
    color: #fed700;
  }
  
  .product .product-price {
    display: block;
    font-size: 1.4rem;
    color: #333;
  }
  
  .product .product-list-img img.default {
    background-color: #eee;
    object-fit: contain;
  }
  