/* footer.css */
.footer_content {
  width: 1200px;
  max-width: calc(100%-30px);
  margin: 0 auto;
  padding: 110px 0;
  text-align: -webkit-auto;
}

.footer {
  margin-top: 50px;
}

.slogan img {
  background-color: black;
}

.footer .row {
  display: flex;
  gap: 50px;
}

.footer .colum1 {
  margin-top: -85px;
  margin-left: 500px;
}

.footer .colum2 {
  margin-top: -85px;
}

.footer .slogan {
  margin-left: 10%;
}

.footer .row {
  margin-left: 30%;
}

.footer .title {
  color: #0e1735;
  font-size: 18px;
  font-weight: 600;
}

.footer .list {
  padding-top: 20px;
  color: #626687;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
}

.footer .mail {
  margin-left: 10%;
}
